{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Login{% endblock%}
{% block body %}
    <header>
        <h1>Log in</h1>
    </header>
	{% block fos_user_content %}
	{% endblock fos_user_content %}	
{% endblock %}	